.header {
  background-color: #9b0b11; /* Cor extraída da logomarca */
  color: var(--color-white);
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 40;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  color: var(--color-white);
  padding: 0.5rem;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 1px;
  color: var(--color-white);
  margin: 0;
}

.header-logo {
  height: 100px;
  width: auto;
  display: block;
  margin-bottom: 1rem;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.auth-btn, .cart-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-white);
  font-weight: 600;
}

.cart-btn {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: var(--color-yellow);
  color: var(--color-red-dark);
  font-size: 0.75rem;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .hidden-mobile {
    display: none;
  }
}
